body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  background-color: #f5f5f5;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
h1 {
  color: #fff;
}
.subtitle {
  color: #fff;
  font-size: 18px;
}
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  /* background-color: white; */
  padding: 30px;
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
input {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
.bg-white {
  background-color: white !important;
  color: #000;
}
button,
.button {
  background-color: #ff0000;
  text-decoration: none;
  display: inline-block;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover,
.button:hover {
  background-color: #cc0000;
}
#status {
  margin-top: 20px;
  font-weight: bold;
  min-height: 24px;
}
.example {
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}
.loading {
  display: none;
  margin: 20px auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #ff0000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}
.wrapper {
  background: url("https://img.freepik.com/free-photo/pile-3d-play-button-logos_1379-880.jpg?semt=ais_hybrid&w=740");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 50px ;
}
.overlay {
  backdrop-filter:blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
